<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="Search" fileName="logs/search.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="InputErrors" fileName="logs/input_errors.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="Exceptions" fileName="logs/exceptions.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </appenders>
    <loggers>
        <logger name="InputErrors" level="trace" additivity="false">
            <appender-ref ref="InputErrors"/>
        </logger>
        <Logger name="Search" level="trace" additivity="false">
            <AppenderRef ref="Search"/>
        </Logger>
        <Logger name="Exceptions" level="trace" additivity="false">
            <AppenderRef ref="Exceptions"/>
        </Logger>
        <Root level="fatal">
            <AppenderRef ref="Console"/>
        </Root>
    </loggers>
</configuration>